.post {
  display: flex;
  @media (max-width: 800px) {
    display: block;
  }

  img {
    width: 100%;
    height: auto;
  }

  &__content {
    flex-basis: 60ch;
    flex-shrink: 1;
    margin-right: auto;
  }

  &__sidebar {
    flex-basis: 20em;
    flex-grow: 0;
    flex-shrink: 0;
    margin-left: 2rem;
    @media (max-width: 800px) {
      margin-left: 0;
      margin-top: 4rem;
    }
  }
}
