.siteHeader {
  @mixin content-width;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 10;

  &__logo {
    @mixin hidden-text;
    background-image: url('../img/dash-logo-light.svg');
    background-size: contain;
    background-position: 0% 50%;
    background-repeat: no-repeat;
    width: 180px;
    height: 90px;
  }

  &__menuList {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  &__menuItem {
    position: relative;
    display: inline-block;

    &--languages {
      &:hover, &:focus, &:focus-within {
        .siteHeader__languageList {
          visibility: visible;
          transition: none;
        }
      }
    }
  }

  &__menuLink {
    display: block;
    padding: 0 12px;
    color: inherit;
    white-space: nowrap;
    line-height: 90px;

    &--language {
      display: block;
      padding: 0.25em 0;
      min-width: 3ch;
      text-align: right;
      line-height: 1.5;
      margin-left: 25px;
    }
  }

  &__languageList {
    position: absolute;
    right: 0;
    list-style: none;
    padding: 0;
    text-shadow: 1px 1px 2px rgb(28,117,188);
    visibility: hidden;
    transition: visibility 0.25s step-end;

    &::before {
      content: '';
      display: block;
      margin: 0.25em 2ch 0.25em auto;
      width: 2ch;
      height: 1px;
      background-color: white;
    }
  }
}
