.teaserList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 0 -1rem;
}

.teaser {
  width: 100%;
  max-width: 33%;
  @media (max-width: 70rem) {
    max-width: 50%;
  }
  @media (max-width: 50rem) {
    max-width: none;
  }
  padding: 1rem;
  display: flex;
  flex-direction: column;
  position: relative;

  &:hover {
    background-color: $color-image-background;
  }

  &__body {
    flex-grow: 1;
  }
  &__title {
    margin-top: 0.5rem;
    margin-bottom: 0;
    > a:before {
      content: '';
      @mixin cover;
      z-index: 1;
    }
  }
  &__date {
    opacity: 0.5;
    margin: 0.5rem 0;
  }
  &__image {
    background-size: cover;
    background-position: center;
    background-color: $color-image-background;
    padding-top: 56.25%;
  }
}

