$color-black: #131415;
$color-blue: rgb(28, 117, 188);
$color-gray: #777777;
$color-gray-dark: #333333;

$color-text: $color-black;
$color-link: $color-blue;
$color-image-background: rgba(28, 117, 188, 0.1);
