@define-mixin content-width {
  max-width: 1280px;
  padding: 0 20px;
  margin-left: auto;
  margin-right: auto;
}

.hero {
  position: relative;
  overflow: hidden;
  color: white;
  background-image: linear-gradient(-225deg, rgba(40,61,129,0.7) 0%, rgba(28,117,188,0.8) 100%), url('../img/blog-hero-banner.jpg');
  background-position: center;
  background-size: cover;
  padding-top: 2rem;
  margin-bottom: 1rem;

  &::after {
    content: '';
    display: block;
    padding-top: 8.72%; /* sine of 5 degrees, percent of container width */
    transform: skewY(-5deg);
    transform-origin: 100% 0;
    background: white;
  }

  &__content {
    @mixin content-width;
    text-shadow: 0.2rem 0.2rem 0.4rem rgba(0,0,0,0.2);
  }

  &__title {
    font-size: 4.11765rem;
    line-height: 1.2;
    letter-spacing: -0.025em;
    margin-top: 4rem;
    margin-bottom: 1rem;
  }
}

.siteHeader {
  @mixin content-width;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  &__menuList {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  &__menuItem > a, &__logo {
    color: inherit;
  }
}

main {
  @mixin content-width;
}

div.blog {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 0 -1rem;
}

.teaser {
  max-width: 33%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  position: relative;

  &:hover {
    background-color: $color-image-background;
  }

  &__body {
    flex-grow: 1;
  }
  &__title {
    margin-top: 0.25rem;
    margin-bottom: 0;
    > a:before {
      content: '';
      @mixin cover;
      z-index: 1;
    }
  }
  &__date {
    opacity: 0.5;
    margin: 0.5rem 0;
  }
  &__image {
    background-size: cover;
    background-position: center;
    background-color: $color-image-background;
    padding-top: 56.25%;
  }
}
