@define-mixin content-width {
  max-width: 1280px;
  padding: 0 20px;
  margin-left: auto;
  margin-right: auto;
}

.hero {
  position: relative;
  overflow: hidden;
  color: white;

  a {
    color: inherit;
  }

  &::before {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(-225deg, rgba(40,61,129,0.7) 0%, rgba(28,117,188,0.8) 100%);
    z-index: -1;
  }

  &::after {
    content: '';
    display: block;
    padding-top: 8.72%; /* sine of 5 degrees */
    transform: skewY(-5deg);
    transform-origin: 100% 0;
    background: white;
  }

  &__content {
    @mixin content-width;
  }
}

.siteHeader {
  @mixin content-width;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  &__menuList {
    list-style: none;
    padding: 0;
    margin: 0;
  }
}

main > h1 {
  @mixin content-width;
}

.teaser {
  &__body, &__title {
    @mixin content-width;
  }
}
