{% extends "base.twig" %}

{% block content %}
  <main>
    {% for post in posts %}
      <article block="teaser">
        <h1 elem="title"><a href="{{ post.link }}">{{ post.title }}</a></h1>
        <div elem="body">
          {{ post.content }}
        </div>
      </article>
    {% endfor %}
  </main>
{% endblock %}
