{% extends "base.twig" %}

{% block title %}{{ post.title }}{% endblock %}
{% block lead %}{{ post.date }}{% endblock %}

{% block content %}
  <main>
    <h1>{{ post.title }}</h1>
    {{ post.content }}
  </main>
{% endblock %}
