{% extends "base.twig" %}

{% block title %}{{ post.title }}{% endblock %}
{% block lead %}{{ post.date }}{% endblock %}
{% block heroStyle %}{% if post.thumbnail %}background-image:url({{ post.thumbnail.src }}){% endif %}{% endblock %}

{% block content %}
  <main>
    {{ post.content }}
  </main>
{% endblock %}
